

body {
  color: #524f47;
  background-color: white;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1 {
  font-size: 2em;
  color: #001158;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#tag-line {
  font-size: 1.2em;
  font-weight: 500;
}

#splash-screen {
  max-width: 300px;
  text-align: center;
  margin:auto;
  height: 100vh;
  display: flex;
  align-items: center;
}

#splash-screen-panel {
  justify-content: center;
  box-shadow: 14px 14px 14px rgba(0, 0, 0, 0.5);
  background-color: rgb(210,231,240);
  /* background-color: #bcd2ff; */
  padding: 1em 2em 1em 2em;
}

.splash-screen-logo {
  margin: 1em 0 1em 0;
}

.splash-screen-img, .splash-screen-logo {
  max-width: 30vw;
}

.splash-screen-img {

}

#onboard-nav {
  display: flex;
  justify-content: space-between;
}

#splash-screen-nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 1em;
}