

body {
  margin: 0;
  padding: 0;
  color: #524f47;
  background-color: white;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1 {
  font-size: 2em;
  color: #001158;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#tag-line {
  font-size: 1.2em;
  font-weight: 500;
}

#splash-screen {
  max-width: 300px;
  text-align: center;
  margin:auto;
  height: 100vh;
  display: flex;
  align-items: center;
}

#splash-screen-panel {
  justify-content: center;
  box-shadow: 14px 14px 14px rgba(0, 0, 0, 0.5);
  /* background-color: rgb(210,231,240); */
  background-color: #bcd2ff;
  padding: 1em 2em 1em 2em;
}

.splash-screen-logo {
  margin: 1em 0 1em 0;
}

.splash-screen-img, .splash-screen-logo {
  max-width: 30vw;
}

.splash-screen-img {

}

#splash-screen-nav, #onboard-nav {
  display: flex;
  padding-top: 1em;
}

#splash-screen-nav {
  justify-content: flex-end;
}

#onboard-nav {
  justify-content: space-between;
}

#page-logo {
  height: 50px;
margin-right: 10px;
}

#input-panel {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.2em;
  background-color: white;
  border-bottom: 2px solid #C9BEC0;
  height: 48px;
  /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3); */
  

}

#prompt-box {
  height: 44px;
  margin: 0 3px 0 10px;
  min-width: 50vw;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #C9BEC0;
}

#prompt-btn {
  height: 50px;
  width: 50px;
  background-color: #001158;
  color: white;
  border: none;
  border-radius: 5px;
}

#output-panel {
  /* padding: 88px 90px 40px 90px; */
  padding: 90px 90px 40px 90px;

}

.chat-bubble-self, .chat-bubble-bot {
  padding: 0.8em;
}

.chat-bubble-self {
  background-color: #CAE9FF;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  text-align: right;
  max-width: 40%;
  
}

.chat-reply {
  flex-direction: column;
}

.chat-bubble-bot {
  background-color: #FFF0D7;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  text-align: left;
  max-width: 40%;
  margin-bottom: 10px;
}

.chat-human {
  display: flex;
  justify-content: flex-end;
}

.chat-reply {
  display: flex;
  justify-content: flex-start;
}

.feedback a:first-child {
  padding-right: 0.2em;
}

.search-result, .graph-panel {
  margin-top: 1.5em;
  padding: 0 1em;
}

.search-result {
  border: 2px dotted #C9BEC0;
}

.graph-panel {
  border: solid rgb(201,190,192, 0.5);

}

.feedback-article {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}

.article-email a {
  display: block;
  margin-top: 0.5em;
  color: #524f47;
  text-decoration: none;
}

.graph {
  width: 100%;
  height: 400px;
  border: none;
  margin-bottom: 1em;
}